div .dashboardCandidates{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: -1;
    align-items: center;
    margin: 0;
    padding-top: 7rem;
    padding-bottom: 3rem;
} 
div .dashboardCandidates div:hover{
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
}