
.CandidateContainer{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    width: 15rem;
    height: 45vh;
    top: 1rem;
    top: 1rem;
    z-index: -1;
    padding-bottom: 1rem;

}
.CandidateContainer img{
    height: 25vh;
}

.CandidateContainer h4{
    font-weight: lighter;
}
.CandidateContainer button{
    width: 5rem;
    font-weight: bold;
    background-color: #008ac1;
    cursor: pointer;
}
div > div > .CandidateContainer:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
