.blogContainer{
    /* flex: 1; */
    z-index: -1;
    margin: 0 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    position: relative;
    width: 34rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: center;
    box-shadow: 0 0 15px rgba(33,33,33,.3); 
}
.blogContainer img {
    width: 33.5rem;
    height: auto;
    border-radius: 5px 5px 0 0;
}
.blogContainer h3 {
    margin-top: 1rem;
 
}